body{
    font-family: "Playfair Display", serif;
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
margin: 0;
}
    

 button {
    background-color: purple;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px;
}

.passo.ativo{
    display: block;
}
.passo{
    display: none;
}
h1{
    font-size: 100px;
}
main{
    max-width: 90%;
    text-align: center;
}
img{
    max-width: 70%;
}